/**
 * @name Frosted GlassGPT
 * @author Gibbu#1211
 * @version 2.0.0
 * @description Display your picture of choice with adjustable blur and brightness.
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite ZHthyCw
 * @donate https://paypal.me/IanRGibson
 * @website https://gibbu.me
 * @authorId 174868361040232448
 * @BDEditor Frosted Glass
*/

@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://images.pexels.com/photos/5210380/pexels-photo-5210380.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  --background-image-blur: 5px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://images.pexels.com/photos/2748716/pexels-photo-2748716.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  --popout-image-blur: 5px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: url('https://images.pexels.com/photos/2748716/pexels-photo-2748716.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
  --overlay-image-blur: 5px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://gibbu.github.io/BetterDiscord-Themes/FrostedGlass/assets/discord.svg');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.8;
  --left-brightness: 0.8;
  --middle-brightness: 0.6;
  --right-brightness: 0;
  --overlay-brightness: 0.75;
  --gradient-primary: 174,212,255;
  --gradient-secondary: 44,62,80;
  --link-colour: #34495E;
  --scrollbar-colour: rgb(189,195,199,1);
  --gradient-direction: 320deg;
  --tint-colour: 174,212,255;
  --tint-brightness: 0;
  --font: gg sans;
  --window-padding: 20px;
  --window-roundness: 10px;
  --update-notice-1: none;
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 2px;
  --rs-large-width: 2px;
  --rs-avatar-shape: 50%;
  --rs-online-color: #43b581;
  --rs-idle-color: #faa61a;
  --rs-dnd-color: #f04747;
  --rs-offline-color: #636b75;
  --rs-streaming-color: #643da7;
  --rs-phone-visible: block;
}

/* Any custom CSS below here */


